body {
    /* font-family: 'Zilla Slab', serif; */
    /* font-family: "Zilla Slab", "Open Sans", X-LocaleSpecific, sans-serif; */
    /* background: rgb(0, 0, 0); */
    /* color: #fff; */
}

.navbar {
    background: transparent;
}

.logo {
    font-weight: 700;
    color: rgb(0, 0, 0) !important;
    text-align: center;
}

.info-para {
    display: inline;
}

.char-sym {
    font-size: 30px;
}

.navbar a {
    text-decoration: none !important;
}

.navbar .logo {
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 0, 0) !important;
    font-family: "Zilla Slab", "Open Sans", X-LocaleSpecific, sans-serif;
}

.footer-logo {
    display: inline;
}

.footer-logo .logo {
    display: inline;
    font-size: 25px;
    color: rgb(0, 0, 0) !important;
    background: rgb(255, 255, 255) !important;
    font-family: "Zilla Slab", "Open Sans", X-LocaleSpecific, sans-serif;
}

.center-jumbotron {
    height: 90vh !important;
    text-align: center;
}

.center-jumbotron .logo {
    padding: 13%;
    font-size: 15px;
    text-align: center;
}

.center-jumbotron .logo h1 {
    /* line-height: 12px; */
    padding: 0;
    padding-bottom: 0px;
    margin-bottom: 10px;
    /* margin: 0; */
    color: rgb(255, 255, 255) !important;
}

.logo-title {
    background: rgb(0, 0, 0) !important;
}

.center-jumbotron .logo h1 {
    font-size: 7em !important;
    font-weight: 700 !important;
}

.center-jumbotron .logo p {
    font-size: 2.2em !important;
    font-weight: 400;
    font-family: "Zilla Slab", "Open Sans", X-LocaleSpecific, sans-serif;
}

.button-anim:hover {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    background-color: #000000;
    box-shadow: 4px 4px 0 0 #ffffff;
    color: #ffffff;
}

.button-anim {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-transition: background-color 100ms, box-shadow 100ms, color 100ms, transform 100ms;
    transition: background-color 100ms, box-shadow 100ms, color 100ms, transform 100ms;
    background-color: #000000;
    border-radius: 2px;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 14px 30px;
    text-decoration: none;
}

.mzp-c-footer-primary-logo a {
    background: white !important;
    color: #000 !important;
}

.topic-image {
    max-width: 350px;
    max-height: 250px;
    height: auto;
    width: 100%;
}

@media only screen and (max-width: 769px) {
    .center-jumbotron {
        height: 90vh !important;
    }
    .center-jumbotron .logo {
        padding: 0%;
        padding-top: 45% !important;
    }
    .center-jumbotron .logo h1 {
        font-size: 4.2em !important;
    }
    .center-jumbotron .logo p {
        font-size: 1.32em !important;
    }
}